<div class="panel panel-success" id="project">

  <div class="panel-heading">
    <h2 class="panel-title">

      <%= project.name %>

    </h2>
  </div>

  <div class="panel-body">

    <%= project.description %>

    <%= project.contact %>

    <div class="btn-group navbar-right" >

      <%= link_to 'Visit', project.url, class: "btn btn-sm btn-warning" %>

    </div>

  </div>
</div>
