/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #f6eee8;
}

header {
    background-color: #fff;
    height: 60px;
}

#logo {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 15px 0;
    a {
        color: #2F363E;
    }
}

#project {
    max-width: 60%;
    margin-left: 20%;
 }

#content {
    margin-top: 50px;
}

.col-lg-10 {
    margin-left: 20px;
}

/* COMMENTS */

.user_avatar {
  float: left;
  margin-right: 20px;
  height: 50px;
  width: 50px;

}

.comment_box {
  margin-top: 30px;
}

.comment_body {
  margin-top: 12px;
  margin-left: 60px;
}

.author_info {
   font-style: italic;
   color: grey;
   font-size: 12px;
}
